@using PagedList;
@using PagedList.Mvc;
@model IPagedList<SwaggerTweets.Models.Tweets>
@{ 

    ViewBag.Title = "Tweets";
}

<h2>Tweets </h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.First().stamp)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().text)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().Link)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.stamp, "{0:dd/MM/yyyy}")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.text )
            </td>

            <td>
                              
                <a href="@item.Link.ToString()">@item.Link</a>
            </td>
        </tr>
    }

</table>
<div>@Html.PagedListPager(Model, page => Url.Action("Index", new { page }))</div>
